/* small */
body {
    font-family: 'Shadows Into Light', cursive;
    display: block;
    color: black;
}

h1 {
    font-size: 75px;
    padding-top: 25px;
    color: whitesmoke;
}

section {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
    background-color: dodgerblue;
}

img {
    min-width: 200px;
    min-height: 100px;
    margin-left: 60px;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px; 
    margin: 0;
    padding: 0;
    color: dodgerblue;
}

h3 {
    font-size: 10px;
    margin: 0;
    padding: 0;
    color: navy;
}

p {
    font-size: 10px;
    margin: 0;
    padding: 0;
    color: navy;
    font-weight: bold;
}

label {
    display: block;
    font-size: 15px;
    margin: 0;
    padding: 5px;
    color: dodgerblue;
}

span {
    font-size: 15px;
    margin: 0;
    padding: 0;
    color: dodgerblue;
}

article {
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: lightyellow;
}

header {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

header, footer {
    background-color: skyblue;
    background-size: 48px;
}

footer {
    height: auto;
    margin-top: 20px;
    text-align: center;
    color: whitesmoke;
}

img {
    float: left;
    height: auto;
    width: 75px;
}

div {
    margin-bottom: 10px;
}

.m {
	font-style: italic;
	letter-spacing: 1pt;
	color: whitesmoke;
	margin-left: 20px;
	font-size: .9rem;
}

nav {
	margin: 0 auto;
	max-width: 760px;
	background-color:dodgerblue;
}
.navigation {
	list-style: none;
	text-align: center;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	color: whitesmoke;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
}
.navigation a:hover {
	color:whitesmoke;
	background-color: dodgerblue;
	font-weight: 700;
}

#map {
    display: none;
}

/* large */
@media only screen and (min-width: 60em) {
    .towns {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1000px;
        margin: 0 auto;
    }

    .active {
        background-color: navy;
        font-weight: bold;
    }
}

/* medium */
@media only screen and (min-width: 32.5em) {
    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .navigation {
        display: flex;
        background-color: dodgerblue;
    }
    
	.navigation li:first-child {
		display: none;
    }
    
	.navigation li {
		display: block;
		flex: 1 1 100%;
    }
    
	.navigation li a {
		color: whitesmoke;
    }
}
    
    

