body {
    font-family: 'Dancing Script', cursive;
}

main{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 200px 200px 200px 200px 200px 200px;
    grid-gap: 25px
}

header h1 {
    font-size: 3.0rem; /* x.xrem */;
    text-align: center;
    color: teal;
    border-bottom: 1px dashed turquoise;
}

.visual{
    grid-column: 2/3;
    grid-row: 1/2;
    color: teal;
}

.rule {
    grid-column: 2/3;
    grid-row: 3/4;
    color: teal;
}

.hicks {
    grid-column: 2/3;
    grid-row: 5/6;
    color: teal;
}

.img1{
    height: auto;
    width: 100px;
    grid-column: 1/2;
    grid-row: 2/3;
}

.link1{
    grid-column: 2/3;
    grid-row: 2/3;
}

.writing1{
    grid-column: 3/4;
    grid-row: 2/3;
    color: turquoise;
}

.img2 {
    height: auto;
    width: 100px;
    grid-column: 1/2;
    grid-row: 4/5;
}

.img3 {
    height: auto;
    width: 100px;
    grid-column: 1/2;
    grid-row: 6/7;
}

.link2 {
    grid-column: 2/3;
    grid-row: 4/5;
}

.link3 {
    grid-column: 2/3;
    grid-row: 6/7;
}

.writing2 {
    grid-column: 3/4;
    grid-row: 4/5;
    color: turquoise;
}

.writing3 {
    grid-column: 3/4;
    grid-row: 6/7;
    color: turquoise;
}