@media only screen and (min-width: 60em) {
    /* id */
    #calltoaction {
        margin-left: 425px;
    }

    #receptionDiscription {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #missionaryDescription {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #temples {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }

    /* class */
}