@media only screen and (min-width: 32.5em) {
	footer {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	/* id */
	#map {
		margin: 10px;
		display: inline;
	}
	
	/* class */
	.navigation {
        display: flex;
        background-color: plum;
	}
	.navigation li:first-child {
		display: none;
	}
	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	.navigation li a {
		color: rebeccapurple;
    }
}
