header {
	display: block;
	text-align: center;
	background-color: plum;
}

h1 {
	font-size: 50px;
	color: rebeccapurple;
}

nav {
	margin: 0 auto;
	max-width: 760px;
	background-color: plum;
}

footer {
	text-align: center;
	color: rebeccapurple;
	background-color: plum;
}

/* id */
#logo {
	margin-top: 10px;
	margin-right: 0;
	width: 100px;
	height: 100px;
}

#map {
	display: none;
}

/* class */
.navigation {
	list-style: none;
	text-align: center;
	padding: 0;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	color: rebeccapurple;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
}

.navigation a:hover {
	color: rebeccapurple;
	background-color: purple;
	font-weight: 700;
}

.active {
	background-color: mediumorchid;
}