nav {
	margin: 0 auto;
	max-width: 760px;
	background-color:dodgerblue;
}
.navigation {
	list-style: none;
	text-align: center;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	color: whitesmoke;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
}
.navigation a:hover {
	color:whitesmoke;
	background-color: dodgerblue;
	font-weight: 700;
}